.Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 124px 0 64px 0;
  gap: 50px;
}

.ModalContainer {
  width: 300px;
  height: 718px;
  border: 1px solid lightgray;
}

.Title {
  font-size: 38px;
  font-weight: 600;
}

.Calendars {
  height: 790px;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}

.Calendar {
  height: 718px;
  height: 100%;
  width: 960px;
}
