.FounderHomeContainer {
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FounderBox {
  display: flex;
  flex-direction: column;
  width: 1071px;
  height: 856px;
  border-radius: 10px;
  background-color: rgb(244, 244, 244);
  margin-top: 80px;
  padding: 20px;
}

.Title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.IntervieweeContainer {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  margin-left: 55px;
  gap: 40px;
}

.SubTitle {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 55px;
  align-self: flex-start;
}
