.RootContainer {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  padding: 106px 156px 0px 156px;
  box-sizing: border-box;
}

.TitleSectionLayout {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}

.TitleSectionHeaderTypo {
  font-size: 30px;
  font-weight: 600;
}

.TitleSectionDescriptionTypo {
  font-size: 25px;
  font-weight: 500;
}

.ContentSectionContainer {
  margin-top: 40px;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.CardListContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ProfileContainer {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  padding: 33px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 800px;
  height: 520px;
  flex-shrink: 0;
}

.ProfileImage {
  width: 400px;
  height: 400px;
}

.ProfileDescriptions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ProfileName {
  color: var(--front-mvp-vercel-app-black-88, rgba(0, 0, 0, 0.88));
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.384px; /* 150% */
}
.ProfileJobName {
  color: var(--front-mvp-vercel-app-black-88, rgba(0, 0, 0, 0.88));
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.352px; /* 157.143% */
}

.ProfileText {
  color: var(--front-mvp-vercel-app-black-88, rgba(0, 0, 0, 0.88));
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.352px; /* 157.143% */
}

.ProfileChip {
  display: flex;
  height: 24px;
  padding: 1.016px 8.128px;
  align-items: flex-start;
  border-radius: 4.064px;
  border: 1.016px solid var(--front-mvp-vercel-app-alto, #8fb4e7);
}
.ProfileChipContainer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 8px;
}

.FormCardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #848181;
  background: #fff;
  padding: 15px;
}
.FormCardRefundContainer {
  display: flex;
  border-radius: 8px;
  background: #fff;
  padding: 15px;
}

.FormCardTitle {
  color: #000;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  width: 385px;
  height: 70px;
}
.FormCardRefundTitle {
  color: #000;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 500px;
  display: flex;
  width: 190px;
  height: 70px;
}
.FormCardBox {
  gap: 12px;
  display: flex;
  flex-direction: row;
}
.FormCardContent {
  display: flex;
  flex-direction: column;
}
.FormCardFont {
  color: var(--front-mvp-vercel-app-black-88, rgba(0, 0, 0, 0.88));
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.286px; /* 157.143% */
  margin: 0 auto;
}
.FormCalBox {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  justify-content: space-between;
}
.CalculateFont {
  color: var(--front-mvp-vercel-app-black-65, rgba(0, 0, 0, 0.65));

  /* front-mvp.vercel.app/Roboto/Regular 14 */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.textSize {
  width: 100%;
  height: 150px;
  text-align: left;
}
.RefundFont {
  color: var(--front-mvp-vercel-app-black-88, rgba(0, 0, 0, 0.88));
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.RefundContent {
  justify-content: center;
  padding-top: 10px;
}
.PaymentButton {
  border-radius: 12.571px;
  border: 2.095px solid var(--front-mvp-vercel-app-alto, #d9d9d9);
  background: #082daf;
  box-shadow: 0px 4.19px 0px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  width: 419.048px;
  height: 67.048px;
  padding: 10.476px 150.857px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 29.333px;
  font-style: normal;
  font-weight: 400;
  line-height: 46.095px; /* 157.143% */
}
.Usetime {
  height: 27px;
}
