.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0 115px 0;
}

.subContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

.nullContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 18px;
}

.swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 480px;
  overflow: hidden;
}

.swiperContainer {
  height: 100%;
}

.interviewBox {
  display: flex;
  flex-direction: column;
}

.prevDirection,
.nextDirection {
  display: flex;
  justify-content: center;
  width: 468.319px;
  cursor: pointer;
}

.intervieweeBox {
  width: 870px;
  height: 408px;
  overflow-y: auto;
  overflow-x: hidden;
}

.intervieweeBox::-webkit-scrollbar {
  width: 5px;
  display: block;
}

.intervieweeBox::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e5e5e5;
}

.intervieweeBox::-webkit-scrollbar-thumb {
  width: 5px;
  height: 178.716px;
  border-radius: 8px;
  background: #151414;
}

.nullIntervieweeBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.buttonBox {
  font-size: 15px;
  font-weight: 600;
  color: #707070;
  display: flex;
  flex-direction: row;
}

.buttons {
  width: 200px;
  height: 50px;
  border: 1px solid #b3b3b3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.leftBtn {
  border-radius: 10px 0px 0px 10px;
  border-right: transparent;
  &:hover {
    border: 1px solid #2a4ecd;
    color: #2a4ecd;
    border-right: transparent;
  }
}

.rightBtn {
  border-radius: 0px 10px 10px 0px;
  border-left: 1px solid #2a4ecd;
  &:hover {
    border: 1px solid #2a4ecd;
    color: #2a4ecd;
  }
}

.clickedRightBtn {
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #2a4ecd;
  color: #2a4ecd;
}

.clickedLeftBtn {
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #2a4ecd;
  border-right: transparent;
  color: #2a4ecd;
}

/*IntervieweeBox*/
.intervieweeBoxContainer {
  width: 100%;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f0f0f0;
}

.gridBox {
  width: 100%;
  display: grid;
  grid-template-columns: 90px 283px 127px 199px 171px;
  grid-auto-rows: min-content; /* 각 행의 높이를 콘텐츠에 맞게 설정 */
}

.frame {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 8px;
}

.wayFrame {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 16px;
  gap: 8px;
}

.nameFrame {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-left: 16px;
  font-size: 14px;
}

.profile {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: none;
}

.way {
  padding: 0 8px;
  height: 22px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.button {
  padding: 0 16px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  cursor: pointer;
}
