.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 93px 0 115px 0;
}

.title {
  font-size: 30px;
  font-weight: 600;
  height: 81px;
}

.box {
  width: 1327px;
}

.headerBox {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px 8px 0 0;
  background-color: #2a4ecd;
  color: white;
}

.headerText {
  height: 22.39px;
  font-size: 14px;
  font-weight: 600;
  padding-left: 16px;
}

.border {
  border-right: 1px solid white;
}

/*IntervieweeBox*/
.intervieweeBoxContainer {
  width: 100%;
  height: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f0f0f0;
}

.gridBox {
  width: 100%;
  display: grid;
  grid-template-columns: 90px 283.56px 131.89px 148.11px 193.22px 190.75px 103.89px 158px;
  grid-auto-rows: min-content; /* 각 행의 높이를 콘텐츠에 맞게 설정 */
}

.frame {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  flex-wrap: wrap;
  font-size: 14px;
  gap: 8px;
}

.nameFrame {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  padding-left: 16px;
  font-size: 14px;
}

.timeFrame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.sliderFrame {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.profile {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  border: none;
}

.way {
  padding: 0 8px;
  height: 22px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.timeRange {
  padding: 5px 16px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
}

.slider {
  position: relative;
  width: 160px;
  height: 4px;
}

.track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 2px;
}

.range {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.thumb {
  position: absolute;
  z-index: 3;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  border: 2px solid rgba(0, 0, 0, 0.4);
  box-sizing: content-box;
  top: -5px;
}

.thumbLeft {
  transform: translateX(-5px);
}

.thumbRight {
  transform: translateX(5px);
}

.sliderText {
  position: absolute;
  height: 22px;
  top: 4px;
}

.textLeft {
  transform: translateX(-22.5px);
}

.textRight {
  transform: translateX(22.5px);
}

.workBox {
  width: 58px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.refuse {
  border: 1px solid #ff4d4f;
  color: #ff4d4f;
}

/*Modal*/
.modalContainer {
  width: 100%;
  height: 100vh;
  background-color: rgba(25, 25, 25, 0.5);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 815px;
  height: 228px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.question {
  text-align: center;
  margin: 66px 0 24px 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #2a4ecd;
  color: white;
  box-shadow: 0px 2px 0px 0px rgba(5, 145, 255, 0.1);
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
