.StepBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Step {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Step.Completed {
  background-color: #1677ff;
  color: white;
}

.StepLabel {
  margin-top: 10px;
  text-align: center;
  width: 100px;
  color: rgb(98, 98, 98);
}

.StepLine {
  flex-grow: 1;
  height: 2px;
  background-color: #ccc;
  position: relative;
  top: 15px;
  margin-bottom: 50px;
}

.StepLine.Completed {
  background-color: #1677ff;
}

.LabelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
