.FounderHomeContainer {
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.IntervieweeBox {
  display: flex;
  flex-direction: column;
  width: 1072px;
  height: 968px;
  border-radius: 10px;
  background-color: #f5f6f9;
  margin-top: 80px;
  padding: 25px;
}

.Title {
  display: flex;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.FounderContainer {
  display: flex;
  margin-top: 10px;
  margin-left: 45px;
  flex-wrap: wrap;
  gap: 30px;
}

.SubTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 30px;
  margin-top: 20px;
  align-self: center;
}
