.FounderHomeContainer {
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.IntervieweeBox {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.Title {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.FounderContainer {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 20px;
}

.SubTitle {
  font-size: 21px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 10px;
  align-self: flex-start;
}
