@import 'globals.css';

.background1 {
    background-color: #ecebe9;
    width: 100vw;
    height: 100vh;
}

.title_page1 {
    text-align: center;
    color: #245fdf;
    padding-top: 130px;
    font-size: 60px;
    font-weight: bold;
}

.subtitle_page1 {
    text-align: center;
    color: #245fdf;
    margin-top: 32px;
    margin-bottom: 25px;
    padding: 0;
    font-size: 27px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 9px 10px;
    padding-right: 2px;
    width: 670px;
    margin: 0 auto;
}

.input-group input {
border: none;
outline: none;
flex-grow: 1;
}

.input-group button {
background-color: #245fdf;
border: none;
color: white;
margin-left: 2px;
padding: 5px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 40px;
}

.input-group button:hover {
background-color: #007bff;
}

.background2 {
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.description1_page2 {
    text-align: center;
    color: black;
    padding-top: 130px;
    font-size: 30px;
}

.description2_page2 {
    text-align: center;
    color: black;
    padding-top: 130px;
    font-size: 30px;
    font-weight: bold;
}

.description3_page2 {
    text-align: center;
    color: black;
    padding-top: 10px;
    font-size: 22px;
    line-height:170%
}

.background2 button {
    text-align: center;
    background-color: #245fdf;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
}

