.FounderBoxWrap {
    width : 280px;
    height : 220px;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding : 5px;
}

.DefaultTime {
    width : 50px;
    height : 30px;
    color : white;
    text-align: center;
    font-size : 15px;
    background-color: rgb(39, 136, 220);
    border-radius: 5px;
    margin-left : 230px;
    padding-top: 6px;
}

.InfoWrap1 {
    color: black;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    margin-left : 25px;
}

.IntervieweeImg {
    width: 45px;
    height: 45px;
    background-color: rgb(186, 186, 186);
    border-radius: 50%;
    display: flex;
}

.IntervieweeImg img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.IntervieweeName {
    margin-left: 20px;
}

.IntervieweeJob {
    margin-left : 20px;
    font-size: 13px;
}

.InfoWrap2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top : 15px;
}

.IntervieweeInfo {
    text-align: left;
    margin-bottom: 60px;
    font-size: 13px;
}

.InterviewButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 220px;
    height: 30px;
    border-color: #b7b7b7; 
    border-width: 1px; 
    border-style: solid; 
    border-radius:5px;
    text-align: center;
    font-size: 13px;
}

.InterviewButton:hover {
    background-color: #9f9f9f;
}