.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.body {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.img img {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

.main {
  width: 100%;
  margin-bottom: 15%;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  color: gray;
}

.box {
  width: 100%;
  height: 8%;
  margin-bottom: 2%;
}

.inputBox,
.selectBox,
.buttonBox {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  border: 1px solid #2a4ecd;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}

input::placeholder {
  color: #a4a4a4;
  font-size: 20px;
  font-weight: 500;
}

.buttonBox {
  background-color: #2a4ecd;
  color: #e8e8e8;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 5fr 1fr 4fr;
  gap: 2%;
}

.te {
  font-size: 30px;
}

.rolecontainer {
  width: 100%;
  height: 25%;
  margin-bottom: 5%;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

.rolebox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #2a4ecd;
  padding: 25px;
}

.roletitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5%;
}

.rolesubtitle {
  font-size: 15px;
  font-weight: 400;
}

.rolebox img {
  margin-right: 50%;
  margin-bottom: 5%;
}

.rolebox input[type='radio'] {
  position: absolute;
  top: 20px;
  right: 20px;
}

.certificateImage {
  width: 100px; /* 원하는 크기로 조정 */
  height: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.containerBox {
  width: 100%;
  height: 50%;
  padding: 0 25px 25px 25px;
  margin-bottom: 10%;
  border-radius: 6px;
  border: 1px solid #2a4ecd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.innerBox {
  width: 100%;
  height: 15%;
  margin: 3%;
}

.innerText {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 1.5%;
}

.innerCheckbox {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.successScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.successText {
  margin: 300px;
}
.successContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.successButton1 {
  color: #ffffff;
  background-color: #2a4ecd;
  border-radius: 5px;
  border: none;
  width: 250px;
  height: 65px;
  cursor: pointer;
}

.successButton2 {
  color: #2a4ecd;
  background-color: #ebebeb;
  border-radius: 5px;
  border: none;
  width: 250px;
  height: 65px;
  cursor: pointer;
}
